<template>
  <v-container>
    <v-btn color="primary" dark @click.stop="dialog = true"> Add City </v-btn>

    <v-dialog v-model="dialog" max-width="600">
      <v-card>
        <v-card-title class="headline"> Add City </v-card-title>

        <v-card-text>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field
              v-model="location"
              :loading="isLoading"
              placeholder="Start type your city..."
              :rules="cityName"
              required
              prepend-icon="mdi-map-marker"
            >
              <template v-slot:append-outer>
                <v-btn icon fab @click="getMyLocation">
                  <v-icon>mdi-bullseye</v-icon>
                </v-btn>
              </template>
            </v-text-field>
          </v-form>
          <v-alert v-if="errorText" colored-border type="error" dense>
            {{ errorText }}
          </v-alert>

          <v-alert v-if="errorStr" border="top" color="red lighten-2" dark>
            {{ errorStr }}
          </v-alert>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn text @click="dialog = false"> Cancel </v-btn>

          <v-btn
            color="primary"
            dark
            :disabled="locationResult === null"
            @click="addNewCity"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
const _ = require('lodash')
export default {
  name: 'EAddCity',
  data() {
    return {
      valid: true,
      dialog: false,
      locationResult: null,
      isLoading: false,
      myLocation: null,
      errorStr: '',
      location: '',
      errorText: '',
      cityName: [
        (v) => !!v || 'City is required',
        (v) => (v && v.length > 3) || 'City must be more than 3 characters',
      ],
    }
  },

  watch: {
    location(val) {
      if (val && val.length > 3) this.debouncedRequest(val)
    },
  },

  created() {
    this.debouncedRequest = _.debounce(this.getLocation, 800)
  },
  methods: {
    addNewCity() {
      if (!this.errorText) this.$store.commit('ADD_CITY', this.locationResult)
      this.locationResult = null
      this.location = null
      this.dialog = false
    },
    getMyLocation() {
      this.errorStr = ''
      navigator.geolocation.getCurrentPosition(
        (position) => {
          this.isLoading = true
          this.requestWetherAPI({
            lat: position.coords.latitude,
            lon: position.coords.longitude,
            appid: this.$config.API_KEY,
          })
            .then((res) => {
              this.location = res.name
            })
            .catch(() => {
              this.errorStr = 'Apparently you are not from this planet...'
            })
            .finally(() => (this.isLoading = false))
        },
        (error) => {
          this.errorStr = error.message + 'Try adding a city manually.'
        }
      )
    },
    getLocation(val) {
      if (this.isLoading) return false

      this.locationResult = null
      this.errorText = ''

      if (this.$store.state.cities.find((c) => c.city === val)) {
        this.errorText =
          'Old age is a sickness of itself. You have already added this city.'
      } else {
        this.isLoading = true
        this.requestWetherAPI({
          q: val,
          appid: this.$config.API_KEY,
          mode: 'html',
        })
          .then((res) => {
            this.locationResult = { city: val, html: res }
            this.errorText = ''
          })
          .catch(() => {
            this.errorText = 'City not found'
          })
          .finally(() => (this.isLoading = false))
      }
    },
  },
}
</script>
