<template>
  <v-card flat tile>
    <v-window v-model="onboarding" vertical>
      <v-window-item v-for="(city, index) in $store.state.cities" :key="index">
        <v-card outlined height="200">
          <v-row class="fill-height" align="center" justify="center">
            <div v-html="city.html"></div>
          </v-row>
        </v-card>
      </v-window-item>
    </v-window>

    <v-card-actions class="justify-space-between">
      <v-btn text @click="prev">
        <v-icon>mdi-chevron-left</v-icon>
      </v-btn>
      Total cities: {{ this.$store.state.cities.length }}
      <v-btn text @click="next">
        <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'ECardSlider',
  data: () => ({
    onboarding: 0,
  }),
  mounted() {
    this.$emit('change', this.onboarding)
  },
  methods: {
    next() {
      this.onboarding =
        this.onboarding + 1 === this.$store.state.cities.length
          ? 0
          : this.onboarding + 1
      this.$emit('change', this.onboarding)
    },
    prev() {
      this.onboarding =
        this.onboarding - 1 < 0
          ? this.$store.state.cities.length - 1
          : this.onboarding - 1
      this.$emit('change', this.onboarding)
    },
  },
}
</script>
